.container {
  background-color: #ffffff;
  padding: 10px;
  height: 40px;
  margin: 0 0 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .fields {
    width: calc(100% - 315px);
    margin-top: -13px;
    mat-form-field {
      margin: 4px;
      height: 30px;
      font-size: 14px;
      &.first {
        width: 22%;
      }
    }
  }

  mat-button-toggle-group, mat-option, mat-form-field {
    height: 30px;
    font-size: 14px;
    color: #353535;
  }
  .mat-button-toggle-checked {
    background-color: #a59cb6;
    color: #f9f9f9;
  }
}

.filter-cont {
  padding: 0px;
}
