<div class="chart-container second" #target>
  <div class="histogram-container" *ngIf="showChart">
    <ngx-charts-bar-vertical
      [view]="[width, height - 50]"
      [scheme]="colorScheme"
      [results]="finalData"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      (select)="onSelect($event)">
    </ngx-charts-bar-vertical>
  </div>
</div>
