.chart-container {
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0px 0px 1px #4981FD;
  // height: calc(100% - 150px);
  padding: 10px 15px 15px 15px;
  // min-height: 500px;
  height: calc(100% - 25px);
  &.second {
    // margin-top: 10px;
  }
}
