.chart-container {
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0px 0px 1px #4981FD;
  padding: 10px;
  // height: calc(100% - 150px);
  // min-height: 500px;
  height: calc((100vh - 20px)/2);
  &.second {
    margin-top: 10px;
  }
}
