<div class="chart-container" #target>
    <app-combo
    [view]="[1200, 600]"
    [scheme]="colorScheme"
    [results]="data$ | async"
    [comments]="comments$ | async"
    [animations]="animations"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showGridLines]="true"
    [timeline]="true"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [showRefLabels]="false"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [autoScale]="autoScale"
    (clicked)="onClicked($event)"
    (hover)="onHover($event)"
    (select)="onSelect($event)">
  </app-combo>
</div>