<div class="chart-container" #target>
    <app-combo
    [view]="[width, height]"
    [scheme]="colorScheme"
    [results]="data$ | async"
    [comments]="fullComments$ | async"
    [commentsActive]="commentsVisible$ | async"
    [activeComment]="activeComment$ | async"
    [animations]="animations"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showGridLines]="true"
    [timeline]="true"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [showRefLabels]="false"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [autoScale]="autoScale"
    (clicked)="onClicked($event)"
    (hover)="onHover($event)"
    (select)="onSelect($event)">
  </app-combo>
  <app-new-range-form
    *ngIf="!commentsVisible"
    [selectedX]="selectedX"
    [selectedY]="selectedY"
    [openFormContainer]="openFormContainer"
    (toggleForm)="toggleForm($event)"
    (createRange)="createRange($event)">
  </app-new-range-form>
</div>
<div class="chart-container second" #test></div>
