.cigo-container {
  margin: 10px;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0px 0px 1px #4981FD;
  padding: 30px;
  .body-container {
    display: flex;
    height: 100%;
    .table-container {
      .table-sub-container {
        display: flex;
        .table-field {
          flex: 1;
        }
        .chart-container {
          flex: 1;
          width: 100%;
          position: relative;
          .chart {
            position: absolute;
            transform: rotate(90deg);
            transform-origin: top left;
            top: 40px;
            left: 100%;
          }
        }
      }
      &.first, &.second, &.last {
        flex: 1;
        background-color: #f9f9f9;
        padding: 10px;
        border-radius: 0 0 3px 3px;
        table {
          border-collapse: collapse;
        }
        th {
          border: 1px solid #e2e2e2;
          border-top: 0;
        }
        tr:last-child {
          border: 1px solid #e2e2e2;
        }
        td:first-child {
          border-left: 1px solid #e2e2e2;
        }
        td:last-child {
          border-right: 1px solid #e2e2e2;
        }
      }
      &.first, &.second {
        margin-right: 10px;
      }
      .datatable-header {
        font-size: 10px;
      }
    }
  }
  .table-message {
    padding: 10px;
    background-color: #f9f9f9;
  }
}
tr {
  text-align: center;
  height: 30px;
  font-size: 13px;
  &:nth-of-type(odd){
    background: #ffffff;
  }
}
td, th {
  padding: 5px;
}
th {
  vertical-align: top;
  font-size: 12px;
}

.subtitle-container {
  display: flex;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  border-radius: 3px 3px 0 0;
  .name-tab, .total-tab {
    display: flex;
    flex: 1;
    padding: 15px 30px;
    h4, h3, h2 {
      margin: 0;
      &:last-child {
        font-weight: 400;
      }
    }
  }
  .name-tab {
    flex-direction: column;
    h3 {
      text-align: left;
    }
    .title-date {
      display: flex;
      div {
        flex-direction: row;
        &:last-child {
          margin-left: 5px;
        }
      }
    }
  }
  .total-tab {
    justify-content: space-around;
  }
}

@media only screen and (max-width: 768px) {
  .cigo-container {
    margin: 10px 0;
    border-radius: 0;
    padding: 10px;
    .mat-raised-button {
      top: -5px;
    }
    .body-container {
      flex-direction: column;
      .table-container {
        &.first, &.second {
          margin-right: 0;
        }
      }
    }
    .table-message {
      text-align: center;
    }
  }
  .chart {
    left: 70%;
  }
  .header-container {
    display: flex;
    flex-direction: column;
  }
  .subtitle-container {
    display: grid;
    .name-tab {
      flex-direction: column;
      justify-content: space-around;
      .title-date {
        div {
          flex-direction: column;
        }
      }
    }
    .name-tab, .total-tab {
      padding: 5px 30px;
    }
    .total-tab {
      flex-direction: row;
      justify-content: space-around;
      .tons, .viajes {
        width: 100%;
        flex-direction: column;
      }
    }
  }
  .settingForm {
    top: 75px;
  }
} 

.settingButton.mat-raised-button {
  position: absolute;
  top: 10px;
  right: 10px;
  min-width: auto;
  padding: 0 6px;
  border-radius: 50%;
}

.settingForm {
  position: absolute;
  right: 10px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 15px;
  max-width: 180px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  .full-width {
    width: 100%;
  }
  .error-message {
    position: relative;
    top: -15px;
    font-size: 10px;
    color: red;
  }
}
.mat-raised-button {
  &:first-child {
    width: auto;
    padding: 0;
    border-radius: 50%;
  }
}
.shadow {
  -webkit-box-shadow: 0px 0px 2px -1px rgba(0,0,0,0.74);
  -moz-box-shadow: 0px 0px 2px -1px rgba(0,0,0,0.74);
  box-shadow: 0px 0px 2px -1px rgba(0,0,0,0.74);
}
