.cigo-container {
  margin: 10px;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0px 0px 1px #4981FD;
  padding: 30px;
  .body-container {
    display: flex;
    height: 100%;
    .table-container {
      .table-sub-container {
        display: flex;
        .table-field {
          flex: 1;
        }
        .chart-container {
          flex: 1;
          width: 100%;
          position: relative;
          .prueba {
            position: absolute;
            transform: rotate(90deg);
            transform-origin: top left;
            top: 65px;
            left: 100%;
          }
        }
      }
      &.first, &.second, &.last {
        flex: 1;
        background-color: #f9f9f9;
        padding: 10px;
        border-radius: 0 0 3px 3px;
        th {
          border-bottom: 1px solid #e2e2e2;
        }
        tr:last-child {
          border-top: 1px solid #e2e2e2;
        }
      }
      &.first, &.second {
        margin-right: 10px;
      }
      &.first {
        td:first-child, th:first-child {
          border-right: 1px solid #e2e2e2;
        }
      }
      .datatable-header {
        font-size: 10px;
      }
    }
  }
}
tr {
  text-align: center;
  height: 30px;
  font-size: 13px;
  &:nth-of-type(odd){
    background: #ffffff;
  }
}
td, th {
  padding: 5px;
}
th {
  height: 50px;
  font-size: 13px;
  white-space: pre-line;
}

.subtitle-container {
  display: flex;
  margin-bottom: 10px;
  background-color: #e2e2e2;
  border-radius: 3px 3px 0 0;
  .name-tab, .total-tab {
    display: flex;
    flex: 1;
    padding: 15px 30px;
    align-items: center;
    h3, h2 {
      margin: 0;
      &:last-child {
        font-weight: 400;
      }
    }
  }
  .name-tab {
    flex-direction: column;
    justify-content: center;
  }
  .total-tab {
    justify-content: space-around;
  }
}
