<mat-progress-bar mode="determinate" [value]="progressValue"></mat-progress-bar>
<button mat-raised-button color="secondary" class="settingButton" (click)="toggleSettingsForm()">
  <i class="material-icons">settings</i>
</button>
<div class="settingForm shadow" *ngIf="showSettingForm">
  <mat-form-field class="full-width">
    <input matInput type="number" placeholder="Velocidad de transición" [(ngModel)]="form.timer" min="10">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="saveTimer()">Actualizar</button>
  <mat-form-field class="full-width">
    <input matInput type="number" placeholder="No. de horas a consultar" [(ngModel)]="form.rowNumber" min="1" max="24">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="saveRowNumber()">Actualizar</button>
</div>
<div class="cigo-container">
  <div class="header-container">
    <div class="subtitle-container">
      <div class="name-tab">
        <h3>{{title}}</h3>
        <div class="title-date" *ngIf="title_from && title_to">
          <div><small><b>Desde</b> {{title_from}}</small></div>
          <div><small><b>Hasta</b> {{title_to}}</small></div>
        </div>
      </div>

      <div *ngIf="selectedFilter==='PRIM' || selectedFilter==='PRIM DOS'" class="total-tab">
        <div class="tons">
          <h4>Total Tons</h4>
          <h4>{{totalTons}}</h4>
        </div>
        <div class="viajes">
          <h4>Total Viajes</h4>
          <h4>{{totalViajes}}</h4>
        </div>
      </div>
      <div *ngIf="selectedFilter==='CF' || selectedFilter==='LB'" class="total-tab">
        <div class="tons">
          <h4>Total Alimentaci&oacute;n</h4>
          <h4>{{totalAlimentacion.toFixed(2)}}</h4>
        </div>
        <div class="viajes">
          <h4>Total Tratamiento</h4>
          <h4>{{totalTratamiento.toFixed(2)}}</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="body-container" *ngIf="showTable">
    <div class="table-container first shadow" >
      <div class="table-sub-container">
        <div class="table-field">
          <table style="width:100%">
            <tr>
              <th *ngFor="let col of columnSet.columns">
                <span *ngFor="let text of col.name">{{text}}<br /></span>
              </th>
            </tr>
            <tr *ngFor="let row of firstData; let i = index">
              <td *ngFor="let col of columnSet.columns">
                <strong *ngIf="i === firstData.length - 1">{{row[col.value]}}</strong>
                <span *ngIf="i < firstData.length - 1">{{row[col.value]}}</span>
              </td>
            </tr>
          </table>
        </div>
        <div class="chart-container">
          <div class="chart">
            <ngx-charts-line-chart
              [view]="view"
              [scheme]="colorScheme"
              [results]="firstTableData"
              [gradient]="false"
              [xAxis]="false"
              [yAxis]="false"
              [legend]="false"
              [showXAxisLabel]="false"
              [showYAxisLabel]="false"
              [autoScale]="true"
              (select)="onSelect($event)">
            </ngx-charts-line-chart>
          </div>
          </div>
      </div>
    </div>
    <div class="table-container second shadow">
      <div class="table-sub-container">
        <div class="table-field">
            <table style="width:100%">
              <tr>
                <th *ngFor="let col of columnSet.columns2">
                  <span *ngFor="let text of col.name">{{text}}<br /></span>
                </th>
              </tr>
              <tr *ngFor="let row of firstData; let i = index">
                <td *ngFor="let col of columnSet.columns2">
                  <strong *ngIf="i === firstData.length - 1">{{row[col.value]}}</strong>
                  <span *ngIf="i < firstData.length - 1">{{row[col.value]}}</span>
                </td>
              </tr>
            </table>
        </div>
        <div class="chart-container">
          <div class="chart">
            <ngx-charts-line-chart
              [view]="view"
              [scheme]="colorScheme"
              [results]="secondTableData"
              [gradient]="false"
              [xAxis]="false"
              [yAxis]="false"
              [legend]="false"
              [showXAxisLabel]="false"
              [showYAxisLabel]="false"
              [autoScale]="true"
              (select)="onSelect($event)">
            </ngx-charts-line-chart>
          </div>
        </div>
      </div>
    </div>
    <div class="table-container last shadow">
      <div class="table-sub-container">
        <table style="width:100%">
          <tr>
            <th *ngFor="let col of columnSet.columns3">
              <span *ngFor="let text of col.name">{{text}}<br /></span>
            </th>
          </tr>
          <tr *ngFor="let row of firstData; let i = index">
            <td *ngFor="let col of columnSet.columns3">
              <strong *ngIf="i === firstData.length - 1">{{row[col.value]}}</strong>
              <span *ngIf="i < firstData.length - 1">{{row[col.value]}}</span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="table-message" *ngIf="firstData.length <= 1">
    <h3>No hay datos disponibles</h3>
  </div>
</div>
