<mat-progress-bar mode="determinate" [value]="progressValue"></mat-progress-bar>
<div class="cigo-container">
  <div class="header-container">
    <div class="title-container">

    </div>
    <div class="subtitle-container">
      <div class="name-tab">
        <h2>{{title}}</h2>
      </div>
      <div class="name-tab">
        <p><strong>Desde</strong> {{title_from}}</p>
        <p><strong>Hasta</strong> {{title_to}}</p>
      </div>
      <div class="total-tab">
        <div class="tons">
          <h3>Total Tons</h3>
          <h3>{{totalTons}}</h3>
        </div>
        <div class="viajes">
          <h3>Total Viajes</h3>
          <h3>{{totalViajes}}</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="body-container" *ngIf="showTable">
    <div class="table-container first" >
      <div class="table-sub-container">
        <div class="table-field">
            <table style="width:100%">
                <tr>
                  <th *ngFor="let col of columns">
                    {{col.name}}
                  </th>
                </tr>
                <tr *ngFor="let row of firstData; let i = index">
                  <td *ngFor="let col of columns">
                    <strong *ngIf="i === firstData.length - 1">{{row[col.value]}}</strong>
                    <span *ngIf="i < firstData.length - 1">{{row[col.value]}}</span>
                  </td>
                </tr>
            </table>
        </div>
        <div class="chart-container">
          <div class="prueba">
            <ngx-charts-line-chart
              [view]="view"
              [scheme]="colorScheme"
              [results]="firstTableData"
              [gradient]="false"
              [xAxis]="false"
              [yAxis]="false"
              [legend]="false"
              [showXAxisLabel]="false"
              [showYAxisLabel]="false"
              [autoScale]="true"
              (select)="onSelect($event)">
            </ngx-charts-line-chart>
          </div>
          </div>
      </div>
    </div>
    <div class="table-container second">
      <div class="table-sub-container">
        <div class="table-field">
            <table style="width:100%">
                <tr>
                  <th *ngFor="let col of columns2">
                    {{col.name}}
                  </th>
                </tr>
                <tr *ngFor="let row of firstData; let i = index">
                  <td *ngFor="let col of columns2">
                    <strong *ngIf="i === firstData.length - 1">{{row[col.value].toFixed(2)}}</strong>
                    <span *ngIf="i < firstData.length - 1">{{row[col.value].toFixed(2)}}</span>
                  </td>
                </tr>
            </table>
        </div>
        <div class="chart-container">
          <div class="prueba">
            <ngx-charts-line-chart
              [view]="view"
              [scheme]="colorScheme"
              [results]="secondTableData"
              [gradient]="false"
              [xAxis]="false"
              [yAxis]="false"
              [legend]="false"
              [showXAxisLabel]="false"
              [showYAxisLabel]="false"
              [autoScale]="true"
              (select)="onSelect($event)">
            </ngx-charts-line-chart>
          </div>
        </div>
      </div>
    </div>
    <div class="table-container last">
      <div class="table-sub-container">
        <table style="width:100%">
            <tr>
              <th *ngFor="let col of columns3">
                {{col.name}}
              </th>
            </tr>
            <tr *ngFor="let row of firstData; let i = index">
              <td *ngFor="let col of columns3">
                <strong *ngIf="i === firstData.length - 1">{{row[col.value].toFixed(2)}}</strong>
                <span *ngIf="i < firstData.length - 1">{{row[col.value].toFixed(2)}}</span>
              </td>
            </tr>
        </table>
      </div>
    </div>
    <!-- <div class="table-container last">
      <ngx-datatable
        class="table-chart"
        [rows]="firstData"
        [columns]="columns3"
        [headerHeight]="50"
        [rowHeight]="30"
        [footerHeight]="50">
        <ngx-datatable-column *ngFor="let col of columns3" [name]="col.name">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row[col.value].toFixed(2)}}
        </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div> -->
  </div>
</div>
