<mat-list role="list" class="list-global">
  <div class="list-container">
    <div class="list-header">
      <h3 mat-subheader>Warnings</h3>
    </div>
    <div class="items-list">
      <mat-divider></mat-divider>
      <mat-checkbox [ngModel]="rangeService.activated$ | async"  (ngModelChange)="toggle()">Add new limit</mat-checkbox>
      <app-card [color]="'#f5753e'" [title]="'Warning Title'" [content]="'Warning description'"></app-card>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="list-container" *ngIf="!commentList" >
    <h3 mat-subheader>Limits</h3>
    <div class="items-list">
      <app-card [color]="'#fd3636'"></app-card>
      <app-card [color]="'#4981FD'"></app-card>
    </div>
  </div>
</mat-list>
