<mat-list role="list" class="list-global">
  <div class="list-container">
    <div class="list-header">
      <h3 mat-subheader>Warnings</h3>
    </div>
    <div class="items-list">
      <mat-divider></mat-divider>
      <mat-checkbox [ngModel]="rangeService.activated$ | async"  (ngModelChange)="toggle($event)">Add new limit</mat-checkbox>
      <app-new-range-form
        *ngIf="(rangeService.activated$  | async) && (activeCoords$ | async)"
        [selectedX]="(activeCoords$ | async)?.x"
        [selectedY]="(activeCoords$ | async)?.y"
        (cancel)="onCancel()"
        (createRange)="createRange($event)">
      </app-new-range-form>
      <app-card *ngFor="let warning of warnings$ | async" [title]="'Out of range'" [content]="formatWarningContent(warning)"></app-card>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="list-container" *ngIf="!commentList" >
    <h3 mat-subheader>Limits</h3>
    <div class="items-list">
      <app-card *ngFor="let range of ranges$ | async" [color]="'#4981FD'" [title]="range.name" [content]="formatRangeContent(range)"></app-card>
    </div>
  </div>
</mat-list>
