.mat-list-item-content:ng-deep {
  padding: 0px !important;
}
.mat-divider {
  border-top-color: rgba(0,0,0,.12);
  margin-right: 10px;
  margin-left: 10px;
}
.mat-subheader {
  color: rgba(0,0,0,.54);
  font-size: small;
  text-transform: uppercase;
  justify-content: center;
}

.list-global {
  height: 100%;
  display: flex;
  flex-direction: column;
  .list-container {
    flex: 1;
    .items-list {
      height: calc(100% - 70px);
      overflow: scroll;
    }
  }
}

.mat-checkbox {
  display: flex;
  justify-content: center;
  font-size: 12px;
  color: #353535;
}
