.navbar-be{
  background-color: white;
}
.navbar {
    height: 60px;
    display: flex;
    align-items: center;
    a {
      z-index: 1;
      margin-left: 20px;
    }
}
.navbar-container {
  box-shadow: 0 0 1px rgba(1, 42, 119, 1);
}
