<mat-list role="list" class="list-global">
  <div class="list-container">
    <div class="list-header">
      <mat-checkbox [(ngModel)]="activated" (ngModelChange)="toggle()">Comments</mat-checkbox>
    </div>
    <div class="items-list">
      <app-input *ngIf="activeCoords$ | async" (submit)="addComment($event)" (cancel)="onCancel()" [coordX]="(activeCoords$ | async)?.x" [coordY]="(activeCoords$ | async)?.y"></app-input>
      <ng-template ngFor let-comment let-i="index" [ngForOf]="comments$ | async">
        <app-comment [comment]="comment" [active]="comment.id === (active$ | async)" [color]="'#f5753e'" (click)="activateComment(comment.id)"></app-comment>  
      </ng-template>
    </div>
  </div>
</mat-list>