<mat-list role="list" class="list-global">
  <div class="list-container">
    <div class="list-header">
      <h3 mat-subheader>Comments</h3>
    </div>
    <div class="items-list">
      <button mat-raised-button [color]="isActive ? '' : 'accent'" (click)="toggleClick()">New Comment</button>
      <mat-checkbox [ngModel]="this.toggleActive" (ngModelChange)="toggle($event)">
          Show on table
      </mat-checkbox>
      <app-input *ngIf="(commentService.activated$ | async) && ((activeCoords$ | async) || isActive)" (submit)="addComment($event)" (cancel)="onCancel()" [coordX]="(activeCoords$ | async)?.x" [coordY]="(activeCoords$ | async)?.y"></app-input>
      <ng-template ngFor let-comment let-i="index" [ngForOf]="comments$ | async">
        <app-comment [comment]="comment" [active]="comment.id === (active$ | async)" [color]="'rgba(255, 64, 129, 0.7)'" (click)="activateComment(comment.id)"></app-comment>
      </ng-template>
    </div>
  </div>
</mat-list>
