<div class="app-container pareto">
  <div class="charts-container">
    <app-pareto-chart (change)="test($event)" [fieldOptions]="fieldOptions" [budgetOptions]="[]"></app-pareto-chart>
    <!-- <app-scatter-chart></app-scatter-chart> -->
  </div>
  <div class="sidebar-container right">
      <div class="table-sub-container">
          <div class="table-field">
              <table style="width:100%">
                  <tr>
                    <th *ngFor="let col of columns">
                      {{col.label}}
                    </th>
                  </tr>
                  <tr *ngFor="let row of data$">
                    <td *ngFor="let col of columns">
                      {{row[col.value]}}
                    </td>
                  </tr>
              </table>
          </div>
      </div>
  </div>
</div>