/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  background-color: #DFE3EB;
  margin: 0px;
  height: 100vh;
}

div.mat-checkbox-inner-container {
  width: 15px;
  height: 15px;
}
