/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

body {
  background-color: #DFE3EB;
  margin: 0px;
  height: 100vh;
  color: rgba(1, 42, 119, 1);
  font-family: 'Open Sans', sans-serif;
}

h3, h2 {
  letter-spacing: 2px;
}

div.mat-checkbox-inner-container {
  width: 15px;
  height: 15px;
}

.mat-raised-button.mat-primary {
  background-color: #4981FD;
  font-weight: normal;
  color: white;
  font-size: 12px;
}
.mat-icon-button {
  font-size: 12px;
}

.circle-data-0circle {
  /* stroke: rgba(63, 81, 181, 0.7);
  stroke-width: 5;
  stroke-dasharray: 1; */
}
/* .datatable-header {
  font-size: 13px;

}
.datatable-body-row {
  font-size: 13px;
}
.datatable-row-even {

} */
.page-count {
  display: none;
}
.datatable-header-cell {
  font-size: 13px;
  max-width: 100px;
}
.datatable-header-cell-label {
  word-wrap: break-word;
}
.datatable-body-row {
  font-size: 13px;
}
.datatable-body-cell {
  max-width: 100px;
}
