<div class="app-container">
  <div class="sidebar-container left">
      <app-card-listing [commentList]="false" [isCdi]="false"></app-card-listing>
  </div>
  <div class="charts-container">
    <app-filter (change)="test($event)" [options]="fieldOptions"></app-filter>

    <app-control-chart
    [pageDescriptor]="'fuel'"
    [showLegend]="false"
    (change)="test($event)"
    (changeDate)="onChangeDate($event)"
    [fieldOptions]="[]" 
    [budgetOptions]="budgetOptions">
  </app-control-chart>
    <app-scatter-chart></app-scatter-chart>
  </div>
  <div class="sidebar-container right">
    <app-comment-section></app-comment-section>
  </div>
</div>
