.chart-container {
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0px 0px 1px #4981FD;
  padding: 10px 15px 15px 15px;
  // height: calc(100% - 150px);
  height: calc((100vh - 220px) / 2);
  display: flex;
  .waterfall-container {
    flex: 5;
  }
  .numbers-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    .numbers-elem {
      flex: 1;
    }
  }

  &.second {
    margin-top: 10px;
  }
  .filter-box {
    height: 40px;
    width: 100%
  }
  .waterfall-chart {
    padding-top: 10px;
    height: calc(100% - 40px);
  }
}

.card {
  color: #353535;
  font-size: small;
  height: calc(100% - 15px);
  width: 100%;
  border-radius: 3px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.16);
  .card-title {
    margin: 0px;
    padding: 3px 13px 3px 13px;
    font-size: 11px;
    margin-top: 40%;    
  }
  .card-content {
    transition: all 0.5s;
    padding: 0 13px 0px 13px;
    overflow: hidden;
    margin-top: 40%;
    font-size: 1.2em;
  }
  &.budget {
    margin-bottom: 5px;
    border-bottom: 10px rgba(0, 0, 0, 0.60) solid;
  }
  &.value {
    margin-top: 5px;
    border-bottom: 10px rgba(55,128,191,1.0) solid;
  }

}