.chart-container {
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0px 0px 1px #4981FD;
  padding: 10px 15px 15px 15px;
  // height: calc(100% - 150px);
  height: calc((100vh - 220px) / 2);
  display: flex;
  .waterfall-container {
    flex: 3;
  }
  .numbers-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    .numbers-elem {
      flex: 1;
    }
  }

  &.second {
    margin-top: 10px;
  }
  .filter-box {
    height: 40px;
    width: 100%
  }
  .waterfall-chart {
    padding-top: 10px;
    height: calc(100% - 40px);
  }
}